<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<%- include('header.ejs') %>

<br>
<br>
<div class="card text-center text-white fst-italic bg-black">
    <div class="card-header bg-secondary">
    </div>
    <div class="card-body h4 fw-italic">
      <h4 class="card-title">Como nos Contatar: </h5>
      <p class="card-text">
        E-Mail: cadumaia15@gmail.com
        <br>
        Git: https://github.com/carlos-eduardo-maia
      <br>
      <br>
      <a href="/" class="btn btn-secondary">Voltar para Home</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
<%- include('footer.ejs') %>