<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</html>
    <html lang="pt_br"></html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width-device-width, initial-scale=1.0">
    <div class="p0 m0 width-200px">
        <title>GymB</title>
    </div>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="h3 shadow-lg m-0 p-0 mb-0 w-25 bg-secondary text-black rounded fst-italic">
        <img src="/images/Png1.png" class="img-fluid w-25 fst-italic" alt="Logo">
        GymB</div>
        <div class="menu-search">
        <ul class="text-white fst-italic">
            <br>
            <li> <a href="/"> Home</a></li>
            <li> <a href="/sobre"> Sobre</a></li>
            <li> <a href="/contato"> Contato</a></li>
            <li> <a href="/usuario"> Usuário</a></li>
        </ul> 
        <div id="divBusca">
            <input class="fst-italic" type="text" id="txtBusca" placeholder="Pesquisar..."/> 
            </div>  
        </div>  
    </header>