<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<%- include('header.ejs') %>

<main>
    <br>
    <br>
    <br>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card w-75 h-100 bg-secondary">
            <img src="/images/Peso2.png" class="card-img-top w-25 rounded mx-auto d-block" alt="...">
            <div class="card-body bg-black fst-italic text-white">
              <h5 class="card-title">Dúvidas</h5>
              <p class="card-text">Fique a vontade para tirar quaisquer dúvidas que você tenha, execuções de exercícios, dietas.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 w-75 bg-secondary">
            <img src="/images/weight.png" class="card-img-top w-25 bg-secondary rounded mx-auto d-block" alt="...">
            <div class="card-body bg-black fst-italic text-white">
              <h5 class="card-title">Informações</h5>
              <p class="card-text">Receba informações sobre o mundo Gym, dicas e curiosidades.</p>
              <br>
              <br>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 w-75 bg-secondary">
            <img src="/images/Png2.png" class="card-img-top w-25 bg-secondary rounded mx-auto d-block" alt="...">
            <div class="card-body bg-black fst-italic text-white">
              <h5 class="card-title">Perfil</h5>
              <p class="card-text">Tenha seu próprio perfil para aproveitar nosso site de forma completa.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row row-cols-1 row-cols-md-2 g-0">
      <div class="card mx-auto" style="width: 18rem;">
        <img src="/images/post3.jpg" class="card-img-top w-100 bg-black" alt="...">
        <div class="card-body bg-black fst-italic text-white">
          <h5 class="card-title">Os 4 Melhores Exercícios para Bíceps.</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-secondary">Ler Mais...</a>
        </div>
      </div>

      <div class="card mx-auto" style="width: 18rem;">
        <img src="/images/triceps.jpg" class="card-img-top w-100 bg-black" alt="...">
        <div class="card-body bg-black fst-italic text-white">
          <h5 class="card-title">Os 4 Melhores Exercícios para Tríceps.</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-secondary">Ler Mais...</a>
        </div>
      </div>
      </div>
</main>
    
<%- include('footer.ejs') %>